@font-face {
  font-family: Monrope;
  src: url('@/assets/fonts/Manrope-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Monrope;
  src: url('@/assets/fonts/Manrope-ExtraBold.ttf');
  font-weight: 800;
}
